:root {
    --color-green: #02A28F;
    --color-white: #ffffff;
    --color-gray: #616161;
    --content-width: 85.7rem;
    --content-padding: 11rem;
}

/* Reset e Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

body {
    background-color: #f5f5f5;
}

.container-header {
    margin-left: 11rem;
}

/* Layout Container */

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 0 0 var(--content-padding);
    width: 63rem;
}

/* Header */
header {
    background-color: var(--color-green);
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
    color: var(--color-white);
}

/* Main Layout */
main {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

/* Banner Article */
.banner-article {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.banner-article img {
    width: 100%;
    height: 100%;
}

/* Content Area */
.content-area {
    flex: 2;
}

/* Posts Section */
.posts-section {
    margin-bottom: 2rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.section-header a {
    color: var(--color-white);
    text-decoration: none;
}

/* Grid Cards */
.posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card {
    background: var(--color-white);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-text {
    margin: 1rem;
}

.card-text .date{
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.card-content {
    padding: 1rem;
}

.card .tag {
    color: var(--color-green);
    margin-bottom: .5rem;
    display: block;
}

.card h3 {
    margin-bottom: .5rem;
}

.card .author {
    color: var(--color-gray);
    margin-bottom: .5rem;
}

.card .date {
    color: var(--color-gray);
}

/* Sidebar */
.sidebar {
    flex: 1;
    max-width: 42.5rem;
    margin: 0 auto;
    padding: 0 15rem 0 0;
}

/* Popular Posts */
.popular-posts .card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.popular-posts .card img {
    width: 9.4rem;
    height: 5rem;
    object-fit: cover;
}

.popular-posts .card-content {
    flex: 1;
    padding: 1rem 0;
}

.popular-posts .card-content .card {
    padding: .7rem;
}

.card-text-aside {
    margin: 1rem;
}

/* Categories */
.categories {
    margin-top: 2rem;
}

.category-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-gray);
    text-decoration: none;
    padding: .5rem 0;
    border-bottom: 1px solid #eee;
}

.category-link:before {
    content: '>';
    margin-right: .5rem;
}

/* Footer */
footer {
    background-color: var(--color-green);
    color: var(--color-white);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {

}