*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green: #02A28F;
    --color-white: #ffffff;
}

html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

header{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 4.3rem;
    display: flex;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background-color: var(--color-green);
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: .81rem 9.75rem ;
}

h1 {
    font-size: 2.75rem;
    color: var(--color-white);
}

h2 {
    font-size: 1.25rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4.3rem 0rem 0rem 0rem;
}

article {
    flex-basis: 60%;
}

.banner {
    margin: 3.2rem 0rem 0rem 9.6rem;
    
}

.title-section-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 0rem 1.5rem;
    margin: 0rem 0rem 0rem 11rem;
    width: 53.5rem;
    height: 3.5rem;
    background-color: var(--color-green);
    border-radius: .5rem;
}

.title-section-cards > a {
    color: var(--color-white);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 53.5rem;
    margin: .68rem 0rem 0rem 11rem;
    gap: 1.5rem;
}

.card {
    margin: 0rem .3rem;
    border-radius: 1.2rem;
    border-color: #616161;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);    
}

.card > img {
    width: 100%;
}

.card-text {
    margin: .93rem 1rem;
}

.card-text > p, h2 {
    margin-bottom: .5rem;
}

.gray{
    color: #616161;
}

.green {
    color: var(--color-green);
}

.side-content {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.title-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 0rem 1.6rem;
    margin: 4rem 0rem 1.4rem;
    width: 25.7rem;
    height: 3.5rem;
    background-color: var(--color-green);
    border-radius: .7rem;
}

.card-aside {
    display: flex;
    justify-content: flex-start;
    margin: 1.4rem 0rem;
    padding: .9rem .8rem;
    width: 25.7rem;
    border-radius: 1.2rem;
    border-color: #616161;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1); 
}

.card-text-aside {
    margin-left: .8rem;
}

